%h1 Refine Query
-#you searched for #{@query}
%h2 Choose most likely population center
= form_tag(results_path, :method => "get") do
  %table
    %tr
      %th
      %th Name
      %th Coordinates
      %th Population
    - @results.each do |pclist|
      %tr
        %td= radio_button_tag(:id,pclist[:id],false)
        %td= pclist[:name]
        %td= pclist[:coordinates]
        %td= pclist[:population]
  = label_tag(:r, "Radius:")
  = text_field_tag(:r)
  %p
  = label_tag("units","Units")
  = radio_button_tag("units","KM",true)
  = radio_button_tag("units","MI")
  %p
  = submit_tag("Refine")
